{% extends "base_admin.html" %}

{% block content %}

<div class="admin-form-page">

<div class="admin-form-card">

<h2>
➕ Ajouter un produit
</h2>

<p class="form-subtitle">
Associer un produit à un rayon du magasin
</p>


<form method="POST">

<label>
Nom du produit
</label>

<input
type="text"
name="nom"
value="{{ nom_pre_rempli }}"
placeholder="Ex : Citron"
required
>


<label>
Rayon
</label>

<select name="rayon_id">

{% for rayon in rayons %}
<option value="{{ rayon[0] }}">
{{ rayon[1] }}
</option>
{% endfor %}

</select>


<button type="submit">
Ajouter le produit
</button>

</form>

</div>

</div>

{% endblock %}