{% extends "base_admin.html" %}

{% block content %}
<div class="admin-form-page">
<div class="filtre-card">

<h3 clas="filtre-title">
    📦Produits par rayon
</h3>

<form method="POST" class="filtre-form">

  <div class="filtre-field">
    <label>Choisir un rayon :</label>
    <select name="rayon_id">
        {% for rayon in rayons %}
            <option value="{{ rayon[0] }}"
                {% if rayon_selectionne == rayon[0]|string %}selected{% endif %}>
                {{ rayon[1] }}
            </option>
        {% endfor %}
    </select>
  </div>

    <button type="submit" class="filtre-btn">
        Afficher
    </button>
</form>
</div>
</div>

{% if produits %}
<div class="table-card">

<table class="produits-table" border="1">
    <tr>
        <th>Nom</th>
       
        <th>Date</th>
        <th>Actions</th>
    </tr>

    {% for produit in produits %}
<tr>
    <form method="POST" action="/modifier-produit/{{ produit[0] }}">

        <td>
            <input
            type="text"
            name="nom"
            value="{{ produit[1] }}"
            disabled
            id="nom{{ produit[0] }}"
            class="inline-input"
            required
            >
        </td>

        <td>
            {{ produit[2] }}
        </td>

        <td>
            <select
            name="rayon_id"
            disabled
            id="rayon{{ produit[0] }}"
            class="inline-select"
            >
                {% for rayon in rayons %}
                    <option value="{{ rayon[0] }}"
                        {% if rayon[0] == produit[3] %}selected{% endif %}>
                        {{ rayon[1] }}
                    </option>
                {% endfor %}
            </select>

            <button
            type="button"
            onclick="activerEdition({{ produit[0] }})"
            class="action-btn modifier-btn">
            Modifier
        </button>

            <button
            type="submit"
            id="save{{ produit[0] }}"
            class="action-btn"
            style="display:none;">
                Sauvegarder
            </button>

            <a
            href="/supprimer-produit/{{ produit[0] }}/{{ rayon_selectionne }}"
            class="action-btn supprimer-btn">
            Supprimer
            </a>
        </td>

    </form>
</tr>
{% endfor %}

</table>
</div>
</div>
{% endif %}

<script>
function activerEdition(id){

    document.getElementById("nom" + id).disabled = false;
    document.getElementById("rayon" + id).disabled = false;

    document.getElementById("save" + id).style.display = "inline-block";
}
</script>
{% endblock %}