{% extends "base_admin.html" %}

{% block content %}

<div class="admin-page">

    <div class="admin-header">
        <h2>
            🚫 Produits non référencés
        </h2>
    </div>

    <div class="table-card">

        <div class="table-wrapper">

            <table class="produits-table">

                <tr>
                    <th>Classement</th>
                    <th>Identifiant</th>
                    <th>Recherche</th>
                    <th>Nb de recherches</th>
                    <th>Dernière recherche</th>
                    <th>Statut</th>
                    <th>Action</th>
                
                </tr>

                {% for recherche in recherches %}

                <tr>

                    <td>
                        {{ loop.index }}
                    </td>

                    <td>
                        {{ recherche[0] }}
                    </td>

                    <td>
                        {{ recherche[1] }}
                    </td>

                    <td>
                        {{ recherche[2] }}
                    </td>

                    <td>
                        {{ recherche[3] }}
                    </td>

                    <td>
                        {% if recherche[4] == 1 %}
                        ✅ Référencé
                        {% else %}
                        ❌ Non référencé
                        {% endif %}
                    </td>

                    <td>

                        <a href="/referencer/{{ recherche[0] }}" class="action-btn">
                            Remettre en référencé
                        </a>
                        
                    </td>

                    

                </tr>

                {% endfor %}

            </table>

        </div>

    </div>

</div>

{% endblock %}